@media screen and (max-width: 400px) {
  #rpo {
    padding: 20px;
    width: 111%;
  }
  #about,
  #softwareDevelopment,
  #softwareDevelopmentOld,
  #testimonials,
  #team,
  #career,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
